@import '../../../variables';

.confirmUser-ppal {
  min-height: calc(100vh - 85.14px - 80px);
  margin-top: 85.14px;
  margin-left: calc((var(--bs-gutter-x)* -0.5));
  margin-right: calc((var(--bs-gutter-x)* -0.5));
  background-image: url('../images/us.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1, p{
    color: white;
    text-shadow: 5px 3px 3px black;
  }
}