@import '../../variables';

.service-ppal{
  height: auto;
  min-height: 50vh;
  background-color: $color-4;
  margin-left: calc((var(--bs-gutter-x)* -0.5));
  margin-right: calc((var(--bs-gutter-x)* -0.5));
  gap: 20px;
  padding: 30px;
}

.service-row{
  display: flex;
  text-align: center;
}

.serv-ppal{
  height: 100vh;
  min-width: 350px;
  padding: 0 !important;
  background-color: $color-4;
  display: flex;
  flex-wrap: wrap;  
}


.serv-div1{
  display: flex;
  justify-content: center;
}

.serv-div2{
  gap: 10px;

  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding: 50px;

  
  
  .servicios-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 300px;
    width: 300px;
    height: 200px;

    background-color: $color-2;

    border-radius: 25px;
    text-align: center;
    img{
      width: 9.5rem;
      height: 10rem;
      border-radius: 25px;
    }
  }


  .servicios-card:hover{
    border: 2px solid white;
  }


  .serv-cardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

} 

  



@media(width < 1268px) {

  .serv-ppal{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

}




@media(width < 400px) {
  .serv-div1{
    width: 80vw;

    
  }
  .serv-div2{
    width: 80vw;

    margin-bottom: 50px !important;


    .serv-card{
      width: 50vw;
    }
  }

}

