@import '../../../variables';

.login-ppal{
    min-height: calc(100vh - 56px);

}

.formulario-login{
  padding: 20px;
  background-color: rgb(164, 151, 151, 0.5);
  border: 1px solid white;
  border-radius: 20px;
}

.registro{
  cursor: pointer;
}

.password{
  cursor: pointer;
}