@import '../../variables';

.col-who {
  padding: 0 !important;
}

/* Contenedor del slider */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Objetos del slider */
.slider-item {
  flex: 0 0 100%;
  width: 100%;
  background-color: $color-2;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
}

.slider-item-back1 {
  background-image: url(/images/camara.jpg);
}

.slider-item-back2 {
  background-image: url(/images/benefit.jpg);
}

.slider-item-back3 {
  background-image: url(/images/equipo.jpg);
}

.slider-item-back4 {
  background-image: url(/images/us.jpg);
}

/* Card central */
.card-who {
  width: 50%;
  height: 80%;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 50px 100px;
  text-align: center;
  background-color: $color-2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Flechas de navegación */
.navigation-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation-arrows.first-section {
  justify-content: flex-end;
}

.navigation-arrows div {
  background: $color-2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navigation-arrows div:hover {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.arrow, .arrow2 {
  width: 60px;
}

.arrow2 {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

/* imagenes de la carta */
.img-card-who {
  border-radius: 50%;
  padding: 20px;
  width: 40%;
}

/* media */
@media screen and (max-width: 1700px) {
  /* imagenes de la carta */
  .img-card-who {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  /* Card central */
  .card-who {
    width: 60%;
    padding: 50px 95px;
  }

  /* imagenes de la carta */
  .img-card-who {
    width: 40%;
  }
}

@media screen and (max-width: 1550px) {
  /* imagenes de la carta */
  .img-card-who {
    width: 45%;
  }
}

@media screen and (max-width: 1350px) {
  /* Card central */
  .card-who {
    width: 65%;
    padding: 50px 90px;
  }
}

@media screen and (max-width: 1250px) {
  /* Card central */
  .card-who {
    width: 70%;
    padding: 50px 85px;
  }
}

@media screen and (max-width: 1100px) {
  /* Card central */
  .card-who {
    width: 75%;
    padding: 50px 80px;
  }

}

@media screen and (max-width: 950px) {
  /* Card central */
  .card-who {
    width: 80%;
    padding: 50px 75px;
  }
  
  /* Contenedor del slider */
  .slider-container {
    height: 100vh;
    /* margin-bottom: 80px; */
  }

  /* imagenes de la carta */
  .img-card-who {
    width: 50%;
    padding: 5px;
  }
}

@media screen and (max-width: 750px) {
  /* Card central */
  .card-who {
    width: 85%;
    padding: 50px 70px;
  }

  .navigation-arrows button {
    background: $color-3;
  }
}

@media screen and (max-width: 600px) {
  /* Card central */
  .card-who {
    width: 100%;
    padding: 50px 65px;
  }
}

@media screen and (max-width: 320px) {
  /* Card central */
  .card-who {
    p {
      font-size: 0.7rem;
    }
  }
}